.btn-secondary{
    background-color: #fff !important;
    margin-top: 45px;
}
.ripple-surface{
    border: none !important;
}
.content_change{
    display: flex;
    .content_left{
        height: 350px;
        width: 40%;
        img{
            height: 80%;
            border-radius: 50%;

        }
    }
    .content_right{
        padding-top: 30px;
    }
}
.card-body{
    height: 420px;
}

.error {
    color: red !important;
    font-size: 14px;
}