
body {
  margin: 0;
}

#skeleton-loadingCoffeeCup {
  height: 85px;
  width: 73px;
  opacity: 0.7;
  display: block;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

#skeleton-loadingCoffeeSteam {
  opacity: 0.4;
  stroke-dasharray: 25;
  animation: dash 2.4s infinite linear;
}



@media screen and (min-width: 768px) {
  .skeleton-hideDesktop {
      display: none;
  }

  #skeleton-logo {
      height: 50px;
      width: 50px;
      margin: auto 24px;
  }

  #skeleton-hamburgerLoader {
      width: 44px;
      height: 44px;
      margin: auto 20px;
  }
}

@media screen and (max-width: 767px) {
  .skeleton-hideMobile {
      display: none;
  }
}

@media screen and (min-width: 1024px) {
  #skeleton-logo {
      margin: auto 40px;
  }
}

@keyframes LoadingGradient {
  0% {
      background-position: 200% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

@keyframes dash {
  from {
      stroke-dashoffset: 25;
  }

  to {
      stroke-dashoffset: -25;
  }
}
