* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box
}

.ant-message, .ant-modal-root {
  z-index: 9000000 !important;
  position: fixed !important;
}
.ant-popover {
  z-index: 9000000 !important;
}
