.ant-layout-content {
    margin: 78px 16px !important;
    padding: 0px !important;
}
.ant-layout-sider-children{
    background-color: #fff4f8  !important;
    .ant-menu{
        background-color: #fff4f8  !important;
        .ant-menu-item{
            background-color: #100f0f  !important;
        }
    }
    
}

.ant-layout {
    background-color: rgb(255, 244, 248);
}

.ant-layout-header {
    background-color:  rgb(255, 244, 248) !important;
    max-width: 1240px !important;
}