.ant-layout-content {
    margin: 78px 16px !important;
}
.ant-layout-sider-children{
    background-color: #fff4f8  !important;
    .ant-menu{
        background-color: #fff4f8  !important;
        .ant-menu-item{
            background-color: #100f0f  !important;
        }
    }
    
}