.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
  .account-btn {
    border: none !important;
    box-shadow: none;
    font-size: 25px;
    // background-color: red;
  }
  
  .dropdown-toggle:after {
    display: none;
  }
  
  .dropdown {
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
      span {
        font-size: 7px !important;
        // margin-top: -9px;
      }
      .userName {
        font-weight: 900;
      }
    }
  }